<section>
    <div fxLayout="row" fxLayoutAlign="space-between" style="height: 50px;">
        <span></span>

        <mat-form-field style="width: 300px;">
            <mat-icon *ngIf="!search.value" matSuffix>search</mat-icon>
            <input #search matInput placeholder="Search here..." autocomplete="off"
                (keyup)="applyFilter($event.target.value)">
            <mat-icon *ngIf="search.value" matSuffix (click)="search.value=''; clearFilters();">close</mat-icon>
        </mat-form-field>
    </div>

    <div class="mat-elevation-z8">
        <table mat-table #table matTableResponsive [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

            <ng-container *ngFor="let column of columns" [matColumnDef]="column.name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [style.flex]="'0 0 '+column.width">{{ column.label }}
                </th>
                <td mat-cell *matCellDef="let element" [style.flex]="'0 0 '+column.width">
                    <span>{{ element[column.name] }}</span>

                    <button mat-icon-button *ngIf="column.name === 'actions'" [matMenuTriggerFor]="options"
                        [matMenuTriggerData]="{label: element}" matTooltip="Ações">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns" [ngClass]="{'clickable': link}">
            </tr>
        </table>
    </div>

    <div *ngIf="!data || data.length <= 0" class="mat-elevation-z8 noContent">
        <span>Sem dados disponíveis</span>
    </div>

    <mat-menu [overlapTrigger]="true" xPosition="after" #options="matMenu">
        <ng-template let-label="label" matMenuContent>
            <button *ngIf="hasEdit" mat-menu-item (click)="openFormDialog(label)">
                <mat-icon color="primary">edit</mat-icon>
                <span>Editar</span>
            </button>

            <button *ngIf="hasDelete" mat-menu-item (click)="openConfirmationDeleteDialog(label._id)">
                <mat-icon color="accent">delete_outline</mat-icon>
                <span>Excluir</span>
            </button>

            <button mat-menu-item (click)="openCalcInvestDialog(label._id)">
              <mat-icon color="warn">trending_up</mat-icon>
              Simular investimento
            </button>
        </ng-template>
    </mat-menu>
</section>
