<mat-toolbar color="primary">

  <div style="width: 100%; display: flex; justify-content: space-between;">
    <div>
      <button mat-raised-button routerLink="/" style="color: #708828;">
        Projects
      </button>
    </div>
    <div>
      <h1>Jedi Inc.</h1>
    </div>
    <div>
      <button mat-button routerLink="/projects/new">
        <mat-icon>lightbulb</mat-icon>
        New Project
      </button>
    </div>
  </div>
</mat-toolbar>

<div class="canvas">
  <router-outlet></router-outlet>
</div>
